# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.2019.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\dev\AdventOfCode\2019\.idea\.idea.2019.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
